@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600;700&display=swap');
@import "tailwindcss";

body{
    font-family: 'Plus Jakarta Sans', Arial, Helvetica, sans-serif;
}

button, a, input, textarea {
    outline: none;
    box-shadow: none; 
}